div {
    color: #0094ff;
    font-family: Consolas;
    
}

    div:first-letter {
        font-family: 'Edwardian Script ITC';
        font-size: 30px;
    }

    div::first-line {
        font-weight: bold;
    }